.comments {
    padding: 0 1rem;
    &__title {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      text-align: left;
    }
  
    &__input, &__submit {
      margin-top: 0.5rem;
    }
  
    &__list {
      margin-top: 1rem;
    }
  
    &__item {
      margin-bottom: 1rem;
    }
    &__comment-icon{
        width: 10%;
        height: auto;
    }
    &__comment-text{
        flex-grow: 1;
        font-size: 1.2rem;
        text-align: center;
    }
    &__item{
        display: flex;
        gap: 1rem;
    }
    &__comment-container{
        display: flex;
        flex-direction: column;

    }
    &__comment-form-header{
        text-align: left;
    }
    &__comment-headline{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__text{
        text-align: left;
    }
    &__comment-fields-profile{
        object-fit: cover;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    &__divider{
        border: none;
        border-top: 1px solid #ccc; 
        margin: 0.5rem 0; 
    }
    &__comments__timestamp{
      opacity: 50%;
      color: grey;
    }
    &__comments__name{
      font-weight: bold;
    }
    &__comment-fields{
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 80%;
        gap:0.5rem;
    }
    &__comment-button{
        background-color: #0095ff;
        color: white;
        font-size: 1.5rem;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        width:100%;
        display:flex;
        align-items: center;
        cursor: pointer;
    }
    @media (min-width: 768px){
        &__comment-fields{
            flex-direction: row;
        }
        &__comment-button{
            width: 50%;
            padding: 0.25rem 1.5rem;
            height: 4rem;
            margin-top: 2rem;
        }
    
    }
    @media (min-width: 1280px){
        &__comment-button{
            align-items: bottom;
            float: right;
            width: 30%;
            height: 3.2rem;
            padding: 0rem 1.5rem;
            margin-top: 1.5rem;
        }
        form input, form textarea{
            padding: 0.5em 10em 0.5em 0.5em;
            width: 100%;
            border: 1px solid rgba(50,50,50,0.5);
            box-sizing: border-box;
            background-color: #f9f9f9;
            color: black;
            border-radius: 0.5rem;
            height: 3rem;
        
        }
    }

  }
form{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    gap: 1rem;
    padding-bottom: 1rem;
}
form label{
    color: rgba(50, 50, 50, 0.5);
    text-align: left;
    justify-content: left;

}
form input, form textarea{
    padding: 0.5em;
    width: 100%;
    border: 1px solid rgba(50,50,50,0.5);
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: black;
    border-radius: 0.5rem;
    height: 5rem;

}

.input__container{
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    width: 100%;
}
.comment-profile{
    flex: 0 0 20%;
    display: flex;
}
.profile-image{
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height:40px;
}
