.comments {
    &__title {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  
    &__input, &__submit {
      margin-top: 0.5rem;
    }
  
    &__list {
      margin-top: 1rem;
    }
  
    &__item {
      margin-bottom: 1rem;
    }
  }
  