.video-player {
    &__video {
      width: 100%;
      height: auto;
    }
  
    &__title, &__channel, &__details {
      padding: 0.5rem 0;
    }
  
    &__description {
      margin-top: 1rem;
    }
  }
  