.video-list {
  padding: 0rem  1rem;
    &__title {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  
    &__item {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;
      text-align: left;
      cursor: pointer;
    }
  
    &__thumbnail {
      width: 40%;
      height: 50%;
      border-radius: 10%;
    }
  
    &__info {
      margin-left: 1rem;
    }
    &__heading{
      text-align: left;
      color: #AFAFAF;
    }
  }
  